
   <cardboard>
      <h1>Memory card</h1>
      <div>
         Retrouver toutes les paires identiques.
      </div>
    

      <div class="contain">
         <div class="carte">
            <div class="thefront"><span class="whatisit">?</span></div>
            <div class="theback"><img src="images/foudre.jpg" width="320" height="213" alt="no"></div>
            
         </div>
      </div>

      <div class="contain">
         <div class="carte">
            <div class="thefront"><span class="whatisit">?</span></div>
            <div class="theback"><img src="images/homard.jpg" width="320" height="213" alt="no"></div>
         </div>
      </div>
      
      <div class="contain">
         <div class="carte">
            <div class="thefront"><span class="whatisit">?</span></div>
            <div class="theback"><img src="images/particules.jpg" width="320" height="213" alt="no"></div>
         </div>
      </div>

      <div class="contain">
         <div class="carte">
            <div class="thefront"><span class="whatisit">?</span></div>
            <div class="theback"><img src="images/lune.jpg" width="320" height="213" alt="no"></div>
         </div>
      </div>

      <div class="contain">
         <div class="carte">
            <div class="thefront"><span class="whatisit">?</span></div>
            <div class="theback"><img src="images/lune.jpg" width="320" height="213" alt="no"></div>
         </div>
      </div>

      <div class="contain">
         <div class="carte">
            <div class="thefront"><span class="whatisit">?</span></div>
            <div class="theback"><img src="images/homard.jpg" width="320" height="213" alt="no"></div>
         </div>
      </div>

      <div class="contain">
         <div class="carte">
            <div class="thefront"><span class="whatisit">?</span></div>
            <div class="theback"><img src="images/foudre.jpg" width="320" height="213" alt="no"></div>
         </div>
      </div>

      <div class="contain">
         <div class="carte">
            <div class="thefront"><span class="whatisit">?</span></div>
            <div class="theback"><img src="images/particules.jpg" width="320" height="213" alt="no"></div>
         </div>
      </div>
    
      <div style="clear:both;">
      <ul>
         <li>Image par<a href="https://pixabay.com/fr/users/FelixMittermeier-4397258/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2568381">Felix Mittermeier</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2568381">Pixabay</a></li>
         <li>Image par<a href="https://pixabay.com/fr/users/Ponciano-1905611/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1527501">Ponciano</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1527501">Pixabay</a></li>
         <li>Image par<a href="https://pixabay.com/fr/users/PixelMission-3418/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752705">Walter Zegenhagen</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752705">Pixabay</a></li>
         <li>Image par<a href="https://pixabay.com/fr/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1435354">Gerd Altmann</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1435354">Pixabay</a></li>
      </ul>
      </div>
   </cardboard>
    

       
         

   
