<div class="container" ng-controller="register">
    <h1>INSCRIPTION</h1>
<form>
   
        <div class="form-group">
           <label for="pseudo"></label>
           <input type="pseudo" class="form-control" id="pseudo" placeholder="" ng-model="myPseudo">
        </div>
        <div class="form-group">
           <label for="email"></label>
           <input type="email" class="form-control" id="email" placeholder="" ng-model="myEmail">
        </div>
        <div class="form-group">
           <label for="password"></label>
           <input type="password" class="form-control" id="password" placeholder="" ng-model="myPassword">
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
</div>